:root {
  --secondary-color: #f2f2f2;
  --primary-text: #000000;
  --secondary-text: #70757a;
  --feeling-lucky: #4d5156;
  --input-border-color: #dfe1e5;
  --button-background: #f8f9fa;
  --hr-color: #dadce0;
}
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 15px;
  align-items: center;
  padding: 13px 21px;
  font-size: 13px;
}
li > a {
  text-decoration: none;
  color: var(--primary-text);
}
li:hover > a {
  text-decoration: underline;
}
ul > li:nth-child(4) > img {
  /* note User  */
  width: 32px;
}
ul > li:nth-child(3) > img {
  /*note Menu */
  width: 24px;
  margin-left: 12px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  padding: 20px;
  position: relative;
  margin: auto;
  width: 45%;
}
section img:nth-child(3) {
  /* note search */

  position: absolute;
  top: 18%;
  left: 35px;
}
section img:nth-child(4) {
  /* note voice */
  position: absolute;
  top: 16%;
  right: 30px;
}
input {
  height: 46px;
  border-radius: 24px;
  width: 100%;
  border: 1px solid var(--input-border-color);
  outline: none;
  display: block;
  margin: auto;
}
input:focus {
  border: 1px solid var(--input-border-color);
  box-shadow: 0px 2px 10px var(--input-border-color);
}
button {
  background-color: var(--button-background);
  padding: 10px 20px;
  color: var(--feeling-lucky);
  letter-spacing: 0.5px;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}
section div {
  width: max-content;
  margin: 30px auto;
}
p {
  text-align: center;
  font-size: 13px;
  color: var(--secondary-text);
}
p a {
  text-decoration: none;
  width: min-content;
}
footer {
  background-color: var(--secondary-color);

  position: absolute;
  width: 100%;
  bottom: 0px;
}
footer p {
  text-align: left;
  padding: 15px 30px;
  font-size: 14px;
  color: var(--secondary-text);
}
footer a {
  font-size: 14px;
  color: var(--secondary-text);
}
footer div {
  display: flex;
  padding: 1px 10px;
  justify-content: space-between;
}
footer div ul {
  display: flex;
  gap: 30px;
}
hr {
  background-color: var(--hr-color);
  border: none;
  height: 1px;
}
